@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.cards {
width: 80px;
height: 113px;
border: solid gray 1.5px;
border-radius: 5px;
}

.cards-shuffled {
  position:absolute;
  right: 10%;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@keyframes card-flow {

  0% {
    transform: translate(0,0);
    opacity: 0.5;
  }

  50% {
    opacity: 1;
    transform: translate(-450px, 100px);
  }

  100%{
    transform: translate(-450px, 100px);
  }
}

@keyframes card-flow-dealer {

  0% {
    transform: translate(450px,-50px);
    opacity: 0.5;
  }


  50% {
    opacity: 1;
    transform: translate(0, 0);   
  }

  100%{
    transform: translate(0, 0);
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    perspective: 1000px;
    backface-visibility: hidden;
  }
}

@keyframes card-flow-player {

  0% {
    transform: translate(450px,-350px);
    opacity: 0.5;
  }


  50% {
    opacity: 1;
    transform: translate(0, 0);   
  }

  100%{
    transform: translate(0, 0);
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    perspective: 1000px;
    backface-visibility: hidden;
  }
}

@keyframes flip-card {

  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(180deg);
  }
}

.flip-card {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  perspective: 1000px;
  animation: flip-card 0.6s ease forwards;
  backface-visibility: hidden;
}

.card-animation {
  animation: card-flow 1.5s ease forwards;
}

.dealer-animate {
  animation: card-flow-dealer 1.5s ease backwards;
}

.player-animate {
  animation: card-flow-player 1.5s ease backwards;
}