@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.cards {
width: 80px;
height: 113px;
border: solid gray 1.5px;
border-radius: 5px;
}

.cards-shuffled {
  position:absolute;
  right: 10%;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@keyframes card-flow {

  0% {
    transform: translate(0,0);
    opacity: 0.5;
  }

  50% {
    opacity: 1;
    transform: translate(-450px, 100px);
  }

  100%{
    transform: translate(-450px, 100px);
  }
}

@keyframes card-flow-dealer {

  0% {
    transform: translate(450px,-50px);
    opacity: 0.5;
  }


  50% {
    opacity: 1;
    transform: translate(0, 0);   
  }

  100%{
    transform: translate(0, 0);
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    perspective: 1000px;
    backface-visibility: hidden;
  }
}

@keyframes card-flow-player {

  0% {
    transform: translate(450px,-350px);
    opacity: 0.5;
  }


  50% {
    opacity: 1;
    transform: translate(0, 0);   
  }

  100%{
    transform: translate(0, 0);
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    perspective: 1000px;
    backface-visibility: hidden;
  }
}

@keyframes flip-card {

  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(180deg);
  }
}

.flip-card {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  perspective: 1000px;
  animation: flip-card 0.6s ease forwards;
  backface-visibility: hidden;
}

.card-animation {
  animation: card-flow 1.5s ease forwards;
}

.dealer-animate {
  animation: card-flow-dealer 1.5s ease backwards;
}

.player-animate {
  animation: card-flow-player 1.5s ease backwards;
}

button{
  /* background: rgba(145, 20, 4, 0.848); */
  color: white;
  font-size: large;
  padding: 10px 20px;
  border-radius: 5px;
  outline: 0;
  border: 0;
  cursor: pointer;
  box-shadow: 0px 2px 2px black;
  margin: 8px;
  &:hover{
    background-color: rgba(169, 25, 6, 0.848);
    font: bolder;
  }
}


@keyframes dealer-tooltip-slide {

  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to{
    opacity: 1;
    transform: translateX(10px);
  }
}

/* Tooltip container */
#tooltip-dealer {
  position: absolute;
  left: -115px; 
  transform: translateY(-50%);
  background-color: "red-900"; 
  color: white;
  padding: 8px 12px;
  font-size: 12px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  animation: dealer-tooltip-slide 0.5s forwards;
  animation-delay: 3s;
  
}

/* Tooltip arrow using a pseudo-element */
#tooltip-dealer::after {
  content: '';
  position: absolute;
  top: 50%; 
  right: -9px; 
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid #810202; 
  border-top: 6px solid transparent; 
  border-bottom: 6px solid transparent; 
}
